

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 1200px;
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  background-color: #ddbea9;
  display: block;
   {
    font-family: Arial, Helvetica, sans-serif;

  }

}
h1{
  font-style: italic;
  color: #cb997e;
  font-size: 150px;
  padding-left: 21vh;
  margin-top: 13vh;

}


a:link,
a:visited {
  color: #cb997e;
  text-decoration: none;
}
  a:link, a:visited {
    text-decoration: underline;
    color: #cb997e;
    background-color: transparent;
}
a:hover, a:active {
    text-decoration: underline overline;
    color: #ffe8d6;
}
}
a:hover {
  text-decoration: underline;
}

.header {
  position: inherit;
  display: flex;
  justify-content:  space-between;

  width: 100%;
  padding: 50px;
  background: #ffe8d6;
}
.menu {                          /*uso questo per creare delle caselle in linea*/
  margin-top: 15px;
}

.menu > li {
  display:  inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.aboutme{

  justify-content:left;
  text-align: center;
  padding-left:0vh;
  margin-top: 10vh;
  width:90%;
  height: 60%;

}
h3{
  text-align: center;
  margin-top:50px;
  color: #cb997e;
  font-size: 7vh;
  margin:3%;
  display:inline-block;
  padding-left: 23vh;

}
h4{
  text-align: center;
  margin-top:37px;
  display:  inline-table;
  margin:3%;

}

/* Mobile e tablet */
@media only screen and (min-width:150px) and (max-width:800px){
  * {
    margin: 3px;
    padding: 0;
    content: 100px;
    box-sizing: border-box;
  }
@media only screen and (min-width:150px) and (max-width:800px) {
  }
  body {
    height: 500px;
    font-size: 3vh;
    font-family: sans-serif;
    color: #000000;
    background-color: #fed9b7;
    display: inline-block ;
    position: sticky;
}
  }
@media only screen and (min-width:150px) and (max-width:800px) {
  a:link{
    display:inline;
    position: sticky;

  }

@media only screen and (min-width:150px) and (max-width:800px) {
  a:visited {
    color: #cb997e;
    display: inline;
    position: sticky;
    text-decoration: none;
    justify-content:  space-between;
    text-align: left;
  }
  @media only screen and (min-width:150px) and (max-width:800px) {
  a:hover {
    text-decoration: underline;
  justify-content:  space-around;

  }
@media only screen and (min-width:150px) and (max-width:800px) {
  .header {
    position:sticky;
    display:  inline;
    justify-content:  space-between;
    width: 0;
    padding: 0px;


  }

  @media only screen and (min-width:150px) and (max-width:800px) {
  .menu {
    margin-top: 3vh;
  }
@media only screen and (min-width:150px) and (max-width:800px) {
  .menu > li {
    display:block;
    position: sticky;
    margin-right: 30px;
  }
@media only screen and (min-width:150px) and (max-width:800px) {
  .menu > li:last-of-type {
    margin-right: 10px;
  }
@media only screen and (min-width:150px) and (max-width:800px) {
  .aboutme{
    font-size: 3vh;
    justify-content: center;
    text-align:center;
    width:90%;
    position: sticky;

  }
  @media only screen and (min-width:150px) and (max-width:800px) {

    h1{
      font-style: italic;
      color: #cb997e;
      font-size: 5vh;
      padding-left: 5vh;
      margin-top: 11vh;

    }

}
  @media only screen and (min-width:150px) and (max-width:800px) {
.fa, .fab, .fad, .fal, .far, .fas {
    display: inline-block;
    position: sticky;
    font-style: normal;
    font-variant: normal;
    line-height: 6em;
  }
}
